SQLITE_DSN=./services/auth/data/users.db
POSGRES_DSN=postgres://postgres:postgres@127.0.0.1:5432/auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_NAME=auth
POSTGRES_SSL_MODE=disable

HOST=:50051

LOG_DEV=true
LOG_LEVEL=debug
LOG_FILE_OUTPUT=false
LOG_FILE_PATH=
LOG_STACKTRACE=true
LOG_CALLER=true 

JWT_TTL=24
JWT_SECRET=secret