.main-btn {
    background-color: var(--main-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 1em;
    outline: 4px auto -webkit-focus-ring-color;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color .2s;
    padding: 0.5em 1em;
}

.main-btn:hover {
    background-color: blue;
}

.main-btn:focus,
.main-btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color
}

.primary {
    background-color: green;
    color: white;
}

.secondary {
    background-color: blue;
    color: white;
}

.danger {
    background-color: red;
    color: white;
}

.sm {
    font-size: .5rem;
    padding: .5rem 0.5rem;
}