.main-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 1em;
    outline: 1px auto -webkit-focus-ring-color;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color .2s;
    padding: 0.5em 1em;
    animation: 2s button-slide ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-btn:hover {
    background-color: var(--primary-color-2);
}

.main-btn:focus,
.main-btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color
}

.sm {
    font-size: .5rem;
    padding: .5rem 0.5rem;
}

@keyframes button-slide {
    0% {
    }

    100% {
        transform:rotateX(360deg);
    }
}