.header {
    background-color: var(--primary-color-1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-list {
    list-style: none;
    display: flex;
    max-width: 100%;
    margin-right: auto;
    justify-content: space-between;
}

.loading {
    display: flex;
}

.loading div {
    width: 200px;
    aspect-ratio: 2;
    border-radius: 999px 999px 0 0;
    background: radial-gradient(30% 90% at bottom,#0000 80%,red 80.5%);
}

.loading div:nth-child(2) {
    border: 5px solid red;
    border-left: 0;
    border-right: 0;
 
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0% {

    }
    100% {
        transform: rotate(360deg);
    }
}